
//  Brand Colors
$primary:                   #e50914 !default;
$green:                     #07d672 !default;

// Paddings
$padding-container:                 15px !default;

// Sidebar Background
$sidebar-bg:                        rgba(27, 27, 27, .74) !default;

// Font size
$font-size-mini:                    9px !default;
$font-size-small:                   12px !default;
$font-size-default:                 14px !default;
$font-size-avatar-title:            18px !default;
$font-size-alert-icon:              30px !default;
$font-size-big:                     36px !default;
$font-size-small-tag:               65% !default;
$font-size-toolbar-title:           $font-size-avatar-title;
$font-size-toolbar-items:           20px !default;
$font-size-h1:                      3.3125rem;
$font-size-h2:                      2.25rem !default;
$font-size-h3:                      1.5625rem;
$font-size-h4:                      1.125rem !default;
$font-size-h5:                      1.0625rem !default;
$font-size-h6:                      0.75rem !default;
$font-paragraph:                    $font-size-default !default;
$font-size-chart-label:             .730rem !default;

//  Body Background Color
$body-color:                        rgb(5, 5, 5) !default;

$font-family-sans-serif:            'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif:                 'Roboto Slab', 'Times New Roman', serif !default;
// Font Weight
$font-weight-lighter:               300 !default;
$font-weight-base:                  400 !default;
